.nav {
    position: relative;
    width: 100%;
    height: 60px;
    padding-left: 20px;

    background: #363477;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);

    z-index: 1;
}

.nav-link{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    color: #FFFFFF;
}

.nav-link:hover {
    color: #FFA825;
}


.sub-nav {
    width: 100%;
    height: 80px;
    
    display: flex;
    background: #5D5BAB;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 30px 30px;
    z-index: 0;
}

.sub-nav-link {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;

    margin: 2vw;

    color: #FFFFFF;
}

.sub-nav-link:hover, :active {
    color: #FFA825;
}

.cart {
    width: 2vw
}

.search-icon {
    width: auto;
    height: auto;

    background: #B5B3F2;
    border-radius: 0px 30px 30px 0px;
    
    border: none;

    padding: 1vh 2vh 1vh 1vh;
}

.search-icon:hover {
    background: #FFA825;
}

.search-bar {
    width: 35vw;
    height: auto;

    background: #FFFFFF;
    border-radius: 30px 0px 0px 30px;
    outline: none;
    border: none;

    padding: 1vh 1vh 1vh 2vh;
}

.login-menu {
    width: 14vw;
}

.profile-view {
    width: 3.5vw;
    border-radius: 50%;
}

.profile-menu {
    width: 5vw;
    background-color: white;
    color: black;
    z-index: 2;
}

.footer {
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #363477;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.footer-text{
    font-family: monospace;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    
    text-align: center;
    color: #FFFFFF;
}