.detail-info,
.detail-tag {
  font-size: large;
  font-weight: 500;
  font-family: monospace;
}

.detail-info {
  text-align: end;
}

.detail-tag {
  text-align: start;
}

.link-style {
  color: white;
  font-family: monospace;
  font-weight: bolder;
  font-size: larger;
}

.link-style:hover {
  color: #b5b3f2;
}

.container {
  width: "100%";
  text-align: center;
}
