.review-container {
  background-color: burlywood;
  /* height: 40vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3vh;
  border-radius: 5px;
}

.star-review {
  margin: 1vh;
}

.input-star {
  margin-left: 9vw;
}

.type-review {
  display: flex;
  justify-content: center;
  margin: 1vh;
}

.btn-class {
  display: flex;
  margin-left: 4vw;
}

.btn {
  /* display: inline-block; */
}

.text-review {
  /* background-color: blueviolet; */
  padding: 1vw;
  /* margin: ; */
}

.btn-use4 {
  background-color: crimson;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: fit-content;
  width: 150px;
  margin: 10px;
  border: 0px solid;
}
.btn-use5 {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: fit-content;
  width: 96px;
  margin: 10px;
  display: flex;
  border: 0px solid;
}

.text-review-area {
  background-color: #3e424b;
  border: 2px black solid;
  border-radius: 4px;
}

.star-text {
  margin-left: 2vh;
  color: white;
}
