SECRET_KEY = django_secret_key
DEBUG = debug_boolean_val
ALLOWED_HOST_1 = localhost
ALLOWED_HOST_2 = 127.0.0.1
ALLOWED_HOST_3 = host_3
ALLOWED_HOST_4 = host_4
ENGINE= ENGINE_NAME
NAME= DB_NAME
USER= USER_NAME
PASSWORD = USER_PASSWORD
PORT = PORT_NUMBER